Repository Kuadrant/architecture, pull requests merged in 2023-10, with the labels that each got.

#9 Kuadrant Policies Status conditions/states
  rfcs/0004-rlp-status-assets/rlp_status_1.png
  rfcs/0004-rlp-status-assets/rlp_status_2.png
  rfcs/0004-rlp-status-assets/rlp_status_3.png
  rfcs/0004-rlp-status-assets/rlp_status_4.png
  rfcs/0004-rlp-status-assets/rlp_status_5.png
  rfcs/0004-rlp-status.md
Labels: RFC, target/current

#28 fix: typos
  README.md
  rfcs/0001-rlp-v2.md
  rfcs/0002-well-known-attributes.md
Labels: documentation

#33 Enhancements for RFC 0004
  rfcs/0004-rlp-status.md
Labels: RFC
